.navbar {
    width: 100%;
    background-color: #eee;
}
.navbar ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 1em 0;
}
.navbar ul li{
    cursor: pointer;
    color: #555;
}

.navbar ul li svg{
    width: 1.2em;
    color: #555;
}

.navbar ul li:hover{
    cursor: pointer;
    /**color: #c35736;*/
    color: #cf5555;
}