.card-detail {
    display: flex;
    background: #ddd;
    width: 80%;
    height: 25em;
    margin: 5em auto;
    justify-content: flex-end;
    position: relative;
}

.card-detail__container-img img{
    width: 18em;
    position: absolute;
    top: -1em; 
    left: 2.5em;
}

.card-detail__container-description{
    width: 60%;
    padding: 0 1em;
    color: #555;
}

.card-detail__container-description span{
    color: #555;
}

.card-detail__container-description{
    width: 60%;
    padding: 0 1em;
}
