.card-detail {
    display: flex;
    background: #ddd;
    width: 60%;
    height: 18em;
    margin: 10em auto;
    justify-content: flex-end;
    position: relative;
}

.card-detail__container-img img{
    width: 17em;
    position: absolute;
    top: -3em;
    left: 2.5em;
}

.card-detail__container-description{
    width: 65%;
    padding: 0 1em;
    color: #555;
}

.card-detail__container-description span{
    color: #555;
}