.item-count-container {
    display: flex;
    justify-content: end;
}

.item-count-container > button{
    width: 25%;
    height: 3em;
    border: none;
    color: #fff;
    background-color: #85c6d2;
}

.item-count-container > button:hover{
    cursor: pointer
}

.item-count-buttons{
    display: flex;
}

.item-count-buttons button{
    height: 3em;
}

.item-count-buttons button:hover{
     cursor: pointer
}